   <!-- Toolbar -->
<div class="toolbar" role="banner">
  
  <span>KFC</span>
    <div class="spacer"></div>
    <a href="" >
      ABOUT US
    </a>
    <a  href="" >
      FIND US
    </a>

    <a  href="" >
      ALL CAMPAIGNS 
    </a>

    <a href="">
      <i class="fa-regular fa-user" style="color: red; background-color:white; border-radius: 50%; padding: 6.5px;"></i>
    </a>

    <a href="">
      <i class="fa-solid fa-cart-plus" style="color: red; background-color:white; border-radius: 50%; padding: 6.5px;"></i>    </a>
</div>


