   
<!-- Toolbar -->
<footer class="toolbar" role="banner">
  
  <span>KFC</span>
    <div class="spacer"></div>

        
    <a href="https://www.facebook.com/KFC/">
     <i class="fa-brands fa-facebook-f" style="color: red; background-color:white; border-radius: 50%; padding: 6.5px;"></i>
    </a>

    <a href="https://twitter.com/KFC_India"> 
        <i class="fa-brands fa-twitter" style="color: red; background-color:white; border-radius: 50%; padding: 6.5px;"></i>
    </a>

    <a href="https://www.youtube.com/@KFCinIndia/about">
        <i class="fa-brands fa-youtube" style="color: red; background-color:white; border-radius: 50%; padding: 6.5px;"></i>
    </a>
  
      <a href="https://www.instagram.com/kfcindia_official/?hl=en">
        <i class="fa-brands fa-instagram" style="color: red; background-color:white; border-radius: 50%; padding: 6.5px;"></i>    </a>
    </footer>



