<div class="cards flex-row p-2">
    <div class="d-flex">
        <div class="card" style="width: 20rem;">
            <div class="card-main">
              <div class="card-content">
                <h3> Any Day <br/>Offers</h3>
                <p>NEW PHENOMENON<br/>BURGER TASTE</p>
                <h4>12.90 TL</h4>
              </div>
              <img src="../../assets/burger.jpg"  class="burgerImg" alt="...">
            </div>
          </div>
    
    
          <div class="card" style="width: 18rem;">
            <div class="card-main2">
              <div class="card-content2">
                <h3 class="text-light"> OTHER <br/>FLAVOURS</h3>
                <p class="text-light">SAVE ROOM<br/>WE MADE COOKIES</p>
                <h4 class="text-light ">3.90 TL</h4>
              </div>
              <img src="../../assets/cookie.jpg" alt="...">
            </div>
          </div>
    
    
          <div class="card" style="width: 20rem;">
            <div class="card-main3">
              <div class="card-content3">
                <h3> FIND A KFC<br/>STORE<br/>NEAR YOU</h3>
                <button class="butto m-2 bg-warning" (click)="Locate()">Locate Us!</button>
              </div>
              <img src="../../assets/map.png" class="map" alt="...">
            </div>
          </div>
        </div>

        <div>
            <div class="row justify-content-around m-5">
                <div class="col-4 card card-main3" style="width: 25rem;">
                    
                          <div class="card-content3">
                            <h3> CRISPY AND  <br/>FRESH CHICKEN <br/>MASTER CHEF</h3>
                            <button class="butto m-2 bg-danger" disabled>100% Fresh Chicken</button>
                            
                          </div>
                          <img src="../../assets/chicken.jpg"  class="chick" alt="...">
                </div>      
            
                <div class="col-4 card card-main3" style="width: 25rem;">
                    
                        
                          <div class="card-content3">
                            <h3> DO YOU WANT  <br/>TO BE A HOPE</h3>
                            <button class="butto m-2 bg-danger">See more</button>
                            
                          </div>
                          <img src="../../assets/hope.jpg"  class="hope" alt="...">
                        
                
              </div>
        </div>
          
</div>

     
    
    




