
<div class="container d-flex flex-row">
    <div class="g-col-6">
        <h2>BARGAIN <br/>BUCKET MENU<br/>CAMPAING</h2>
        <p>Orginal Recipe chicken and fries and plenty of it<br/>
        Sometimes thats all you need to turn and average<br/>
        day into a great one!</p>
        <button class="btn" (click)="OrderNavigate()">Order Now</button>
        
    </div>
    <div class="g-col-6"></div>
    <div class="g-col-6">
        <img src="../../assets/poster.jpeg" class="bg-danger" alt="">
    </div>
  </div>