
<div class="container d-flex flex-row">
<div class="g-col-6 d-flex flex-column">
    <div class="d-flex">
        <div class="card m-5">
            <i class="fa-brands fa-twitter bg-primary" style="color: #ffffff;"></i>
            <h5 style="padding-left: 3rem; font-weight: lighter;">Wendy's</h5>
            <p class="m-2" style="padding-left: 3rem;font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif"><span class="text-primary">@Kfc </span>We're shocked at a lost for <br/>words about what was served.</p>
        
        </div>
        <div class="card">
            <i class="fa-brands fa-twitter bg-primary" style="color: #ffffff;"></i>
            <h5 style="padding-left: 3rem; font-weight: lighter;">Herner Jr.</h5>
            <p class="m-2" style="padding-left: 3rem;font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">It was indeed <br/>Finger Lickin good!</p>
        
        </div>
        
    </div>
    <div>
        <div class=" card card-line2">
            <i class="fa-brands fa-facebook-f bg-primary" style="color: #ffffff;"></i>
            <h5 style="padding-left: 3rem; font-weight: lighter;">Costa Henny</h5>
            <p class="m-2" style="padding-left: 3rem;font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif"><span class="text-danger">@kfc  </span>The Best Chickecn<br/>and most satisfying service..</p>
        
        </div>
    </div>
</div>

<div class="g-col-6 video">
    <iframe  width="500" height="300" src="https://www.youtube.com/embed/YN2URsx8gIs?si=j6YA3ZEQwYAR9wnA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
</div>

</div>
