.btn{
    border-radius: 999px;
    padding: 10px;
    width: 120px;
    background-color:rgb(245, 193, 5);
    opacity:1;
    box-shadow: 2px 5px 5px 2px rgba(230, 104, 7, 0.941);
    /* margin-left: 39rem; */
    position: absolute;
    left: 40rem;
    top: 24rem;
    z-index:1;
    color: white;
}

.btn:hover{
    transform: scale(1.1);
}

.card{
    width: 0.2em;
    font-family:'Times New Roman', Times, serif;
    font-size: medium;
}
