<div class="box">
    <button class="btn border-warning">MENUS</button>
    <div class="overflow-x-auto d-flex" style="width:70rem;margin-left: 10rem;">
        
            <div class="card" style="width: 35rem;" *ngFor="let menu of allmenu">
                <img [src]="menu.image_url" class="card-img-top" alt="...">
                <div>
                  <p style="margin: 0.5rem;font-family:Arial, Helvetica, sans-serif;color:gray;">{{menu.item_name}}</p>
                </div>
              </div>
      
        
    </div>
</div>


