.main{
    background-color: rgb(250, 203, 32);
    margin: 0rem 10rem 10rem 0rem;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.image{
    display: flex;
    width: 10rem;
    height: 10rem;
    position: absolute;
    left: 18rem;
    top: 69rem;
    
}

.img1{
   border-radius: 10px;
   box-shadow: 1.5px 1.5px 1.5px 2px rgb(241, 237, 106);
    z-index: 1;
    width: 10rem;
    height: 14rem;
}

.img2{
    border-radius: 5px;
    box-shadow: 2px 2px 2px 2px rgb(247, 233, 171);
    position: absolute;
    left: 6.6rem;
    z-index: 0;
    margin-top:15px;
    width: 10rem;
    height: 12.8rem;
}

.content button{
    border-radius:10rem ;
    border: none;
    padding: 0.5rem;
    margin: 0.5rem;
    background-color: black;
    color: white;
}
.content{
    color: white;
    font-family: serif;
    font-weight: bold;
    margin: 1.5rem 10rem 1.5rem 50rem;
}
